# Archivo de configuracion del Tester.


# Monedas que el sistema utilizará, debes de separarlas con un coma.
currencies = EURUSD,USDJPY,GBPUSD,USDCHF,EURGBP 
#Spread que usará la prueba.
spread = 4.0
lotes = 1
#Tamaño de la muestra, se correrá como máximo de pruebas este número.
muestra = 700
# ubicación de archivo .json
extern_file = ./config/eurusd.json
threads = 2

metrics = 0
logger = true
trade_log = false
#Tomar en centa los horarios de verano
SDT = true